<style>
div.header,
div.main,
div.info,
div.footer {
	text-align: center;
}
div.header {
	font-size: 7rem;
	line-height: 1.25;
}
div.main {
	font-size: 2rem;
}
div.info {
	padding: 10px;
	font-size: 1.25rem;
}
div.main a,
div.footer,
div.footer a {
	color: #778888;
}
a {
	cursor: pointer !important;
	text-decoration: none !important;
	border-bottom: dotted 1px #778888 !important;
}
</style>
<div class="header">[###HELLO-WORLD|html###]</div>
<div style="text-align:center; color:#778888; line-height: 1;">
<small>this page was rendered by the <b>PHP&nbsp;Controller</b>: `modules/mod-helloworld/welcome.php`</small>
<br>
<small><i>using the <b>View (MarkerTPL Templating Engine)</b>: `modules/mod-helloworld/views/welcome.mtpl.htm`</i></small>
<br>
<small><i>the <b>raw server URL Route</b> to this page is: `index.php?page=helloworld.welcome`</i></small>
</div>
<hr>
<br>
<div class="main">
Fast Development, High-Performance
<br>
<i>Rolling Releases, Easy Upgrades</i>
<br>
<div style="margin-top: 10px; font-size: 1rem !important">
<a target="_blank" href="https://w3soft.org/articles;php-frameworks-symfony-laravel-smart_framework.html"><i>Read this article:</i> PHP Frameworks: Symfony, Laravel, Smart.Framework</a>
<br>
<a target="_blank" href="https://testrigor.com/smart-framework-php-testing/"><i>Another article to read:</i> Smart Framework: MVC and microservices.</a>
</div>
</div>
<br>
<hr>
<div class="info">
<img onclick="self.location = '[###URL-WELCOME|js###]';" style="cursor:pointer;" width="128" alt="smart-framework-logo" title="Smart Framework: PHP / Javascript" src="lib/framework/img/sf-logo.svg">
<br>
A <q><i>Rolling</i> Releases</q> PHP/Js Framework - <span style="color: #ED2559 !important;"><b>Smart Framework</b></span> <b>is</b> <span style="color: #7F8EC6 !important;"><b>PHP 8.4</b></span> <b>ready</b>.
<br>
<b><i>This is a special LTS release for the 10<sup>th</sup> anniversary, try it out !</i></b>
<br>
<ul style="list-style-type: none !important; padding: 0 !important;">
<i>
	<b><span style="">PHP / Javascript &nbsp;<a target="_blank" href="[###URL-PROJECT|html###]"><span style="color: #ED2559 !important; font-style: normal !important;">Smart.Framework.PHP/Js &nbsp;<span style="font-size:125%;">2025</span></span></a></span>&nbsp; - what`s new in this release:</b>
	<li>Integrates with <b><a style="color: #78D4FD;" target="_blank" href="https://github.com/unix-world/smartgo">Smart.Framework.Go</a></b> - a powerful <b>GoLang</b> framework for <b>microservices</b>.</li>
	<li>Randomized encryption, PBKDF2, Two Factor Authentication (8 digits).</li>
	<li>PHP and Javascript: an improved MarkerTPL Templating Engine,</li>
	<li>BlowFish 448-bit, TwoFish 256-bit encryption, SHA-3.</li>
	<li>PHP only: ThreeFish 1024-bit encryption, CSRF,</li>
	<li>JWT support, Ed25519 signing algorithm,</li>
	<li>OAuth2, MongoDB.Admin, PageBuilder,</li>
	<li>MarkDown v.II syntax renderer,</li>
	<li>and many more ...</li>
</i>
</ul>
</div>
<div class="footer">
	<a href="[###URL-WELCOME|html###]">Read More About, Documentation, Download: Smart.Framework</a>
	<br>
	<br>
	<small>&copy; 2025-present unix-world.org</small>
</div>