<!-- v.20220928 -->
<style>
hr {
	border: none 0;
	border-top: 1px solid #ECECEC;
	height: 1px;
}
a, a:link, a:visited {
	color: #555555;
	text-decoration: none;
}
a:hover, a.underlink {
	border-bottom: 1px dotted #555555;
}
div.boxTable {
	background: #FFFFFF;
	margin-bottom: 10px;
	padding: 7px;
	border-radius: 5px;
	box-shadow: 2px 2px 3px #D2D2D2;
	overflow-x: auto;
}
div.boxTable * {
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.25em;
}
div.blueTable {
	color: #FFFFFF;
	background: #4D5774;
	border: 1px solid #5E6885;
}
div.greyTable {
	color: #FFFFFF;
	background: #778899;
	border: 1px solid #667788;
}
div.sTaskTitle {
	background: #e9edca;
	color: #333333;
}
div.sTaskDetails {
	border: 1px solid #EEEEEE;
	background: #FFFFFF;
	color: #444444;
}
div.sTaskTitle, div.sTaskDetails {
	padding: 4px;
	padding-left: 8px;
	padding-right: 8px;
	overflow-x: hidden;
}
div.sTaskTitle *, div.sTaskDetails * {
	font-weight: bold;
	font-size: 0.875rem;
	line-height: 1.25em;
}
div.selectTaskArea {
	font-size: 1.25em;
}
p.displayURLs {
	display: inline;
	width: 100% !important;
	height: 1rem;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.helpCursor {
	cursor: help;
}
.pointerCursor {
	cursor: pointer;
}
.headingText {
	display: inline;
}
.colorSmart {
	color: #778899;
}
.colorDoubleColon {
	color: #DCDCDC;
}
.colorDot {
	color: #999999;
}
.colorNamePrefix {
	color: #3B4250;
}
.colorNameSuffix {
	color: #5E6885;
}
.colorCopyright {
	color: #CCCCCC;
}
div.alignRight {
	text-align: right;
}
select.customList {
	width: 45vw;
	max-width: 720px !important;
	min-width: 280px !important;
}
input.customInput {
	width: 40vw;
	max-width: 550px !important;
	min-width: 200px !important;
}
.iconGrey {
	color: #555555 !important;
}
</style>