<!DOCTYPE html>
<!-- App Domain is: [###APP-DOMAIN###] -->
<!-- Base URL is: [###BASE-URL###] -->
<!-- Base Path is: [###BASE-PATH###] -->
<!-- [###TEMPLATE-FILE###] -->
<!-- Version: 20210307 -->
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Expires" content="-1">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Pragma" content="no-cache">
<meta name="viewport" content="initial-scale=0.75">
<meta name="description" content="[###META-DESCRIPTION###]">
<meta name="keywords" content="[###META-KEYWORDS###]">
<title>[###TITLE###]</title>
<!-- Styles -->
[@@@SUB-TEMPLATE:!etc/templates/default/css-app.inc.htm!@@@]
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles.css?[###RELEASE-HASH|url|html###]">
<!-- Scripts -->
[@@@SUB-TEMPLATE:!etc/templates/default/js-base.inc.htm!@@@]
</head>
<body>
[###AREA.TOP###]
<div style="width:100% !important; padding-left:10px; padding-top:2px; padding-right:10px; box-sizing: border-box !important; -moz-box-sizing: border-box !important; -webkit-box-sizing: border-box !important;">
[###MAIN###]
</div>
[###AREA.FOOTER###]
</body>
</html>
