<!-- v.20250207 -->
[@@@SUB-TEMPLATE:acc-styles-form.mtpl.inc.htm@@@]
<script>
const disable2FAConfirm = () => {
	const accId = '[###ID|js###]';
	smartJ$Browser.ConfirmDialog(
		'<h5>Are you sure to <span style="color:#FF3300;">DISABLE 2FA</span> for the selected account ?</h5><h6 style="color:#778899;"><i>Account&nbsp;ID</i>: `<span style="color:#FF5500;">' + smartJ$Utils.escape_html(accId) + '</span>`</h6><br><h5>Please confirm !<br><i>After disabling 2FA the account security is lowered ...</i></h5>',
		() => {
			smartJ$Browser.SubmitFormByAjax(null, '[###ACTIONS-URL|js|html###]disable-2fa-confirm&id=' + smartJ$Utils.escape_url(accId), 'yes');
		},
		'Disable 2FA for selected Account',
		null,
		null,
		'alertable'
	);
};
</script>
<center><div><table><tr><td>
	<form id="edit_form" name="edit_form" class="ux-form ux-form-aligned" onSubmit="return false;">
		<legend><h1>[%%%IF:VIEW-ONLY:==yes;%%%]Display[%%%ELSE:VIEW-ONLY%%%]Edit[%%%/IF:VIEW-ONLY%%%] Account</h1></legend><br>
		<div class="ux-control-group">
			<label><i class="sfi sfi-user"></i>&nbsp;UserName&nbsp;/&nbsp;ID</label>
			<input type="hidden" name="frm[id]" value="[###ID|html###]">
			<h6 id="user-id" style="display:inline;">[###ID|html###]</h6>
		</div>
		<div class="ux-control-group">
			<label>Email</label>
			<input type="email" maxlength="72" name="frm[email]" class="ux-input-1-2" placeholder="Email" value="[###EMAIL|html###]"[%%%IF:VIEW-ONLY:==yes;%%%] readonly[%%%/IF:VIEW-ONLY%%%]>
		</div>
		<div class="ux-control-group" title="Given Name">
			<label>First Name</label>
			<input type="text" maxlength="64" name="frm[name_f]" class="ux-input-1-2" placeholder="Given Name" value="[###FIRST-NAME|html###]" required[%%%IF:VIEW-ONLY:==yes;%%%] readonly[%%%/IF:VIEW-ONLY%%%]>
		</div>
		<div class="ux-control-group" title="Family Name">
			<label>Last Name</label>
			<input type="text" maxlength="64" name="frm[name_l]" class="ux-input-1-2" placeholder="Family Name" value="[###LAST-NAME|html###]" required[%%%IF:VIEW-ONLY:==yes;%%%] readonly[%%%/IF:VIEW-ONLY%%%]>
		</div>
		[%%%IF:VIEW-ONLY:==yes;%%%]
		<div class="ux-control-group">
			<label>Password</label>
			<a href="[###ACTIONS-URL|html###]change-pass-form&id=[###ID|url|html###]" class="ux-button ux-button-dark ux-button-small"><i class="sfi sfi-key"></i> &nbsp; Change Password</a>
		</div>
		[%%%IF:SHOW-2FA:==1;%%%]
		[%%%IF:SELF-FA2:==yes;%%%]
		<div class="ux-control-group"[%%%IF:2FA-KEY:!=;%%%][%%%IF:2FA-BARCODE:!=;%%%] style="min-height:200px;"[%%%/IF:2FA-BARCODE%%%][%%%/IF:2FA-KEY%%%]>
			<label>2FA Key[%%%IF:2FA-KEY:!=;%%%][%%%IF:2FA-TEST-TK:!=;%%%]<br><br><br><span style="cursor:help; color:#DDDDDD;" title="Test Token: [###2FA-TEST-TK|html###] ; Date: [###2FA-TEST-DATE|html###] ; Key: [###2FA-KEY|html###]"><i class="sfi sfi-clock sfi-xl"></i></span>[%%%/IF:2FA-TEST-TK%%%][%%%/IF:2FA-KEY%%%]</label>
			<div style="display:inline-block; font-size:0.875rem;">
				[%%%IF:2FA-DB-KEY:==1;%%%]<button class="ux-button ux-button-highlight" onClick="disable2FAConfirm(); return false;"><i class="sfi sfi-qrcode"></i> &nbsp; Disable Two-Factor Authentication</button>[%%%ELSE:2FA-DB-KEY%%%]<button class="ux-button ux-button-regular" onClick="self.location = '[###ACTIONS-URL|js|html###]enable-2fa-form&id=[###ID|js|html###]'; return false;"><i class="sfi sfi-qrcode"></i> &nbsp; Enable Two-Factor Authentication</button>[%%%/IF:2FA-DB-KEY%%%]
				[%%%IF:2FA-KEY:!=;%%%][%%%IF:2FA-BARCODE:!=;%%%]<br><span id="2fa-logo" style="cursor:cell; color:#DDDDDD;" title="Click to reveal the QRCode" onclick="jQuery('#2fa-logo').hide(); jQuery('#2fa-qr').show();"><i class="sfi sfi-qrcode sfi-5x"></i></span><img id="2fa-qr" style="display:none; cursor:cell; margin-top:10px;" src="data:image/svg+xml,[###2FA-BARCODE|url###]" title="[###2FA-URL|html###]" onclick="jQuery('#2fa-logo').show(); jQuery('#2fa-qr').hide();">[%%%/IF:2FA-BARCODE%%%][%%%/IF:2FA-KEY%%%]
			</div>
		</div>
		[%%%/IF:SELF-FA2%%%]
		[%%%/IF:SHOW-2FA%%%]
		[%%%IF:ENABLED-TOKENS:==1;%%%]
		<div class="ux-control-group">
			<label>Tokens</label>
			[%%%IF:CRR-ID:==###ID###;%%%]<a href="[###ACTIONS-URL|html###]tokens-list&id=[###ID|url|html###]" class="ux-button ux-button-secondary ux-button-small"><i class="sfi sfi-lock"></i> &nbsp; Manage Tokens</a>&nbsp;[%%%/IF:CRR-ID%%%]<span style="color:#CDCDCD;"><b>[[###NUM-TOKENS|int###] of [###MAX-TOKENS|int###]]</b></span>
		</div>
		[%%%/IF:ENABLED-TOKENS%%%]
		[%%%ELSE:VIEW-ONLY%%%]
		<!-- pass change / 2fa cannot be modified here -->
		[%%%/IF:VIEW-ONLY%%%]
		<div class="ux-control-group">
			<label>Private Key</label>
			[%%%IF:SELF-KEYS:==yes;%%%]
			[%%%IF:VIEW-ONLY:!=yes;%%%]<input type="hidden" name="frm[upd-keys]" value="yes">[%%%/IF:VIEW-ONLY%%%]
			<textarea name="frm[keys]" class="ux-input-1-2" placeholder="Private Key" spellcheck="false" style="height:75px;" maxlength="768" [%%%IF:VIEW-ONLY:!=yes;%%%]minlength="64"[%%%ELSE:VIEW-ONLY%%%]readonly[%%%/IF:VIEW-ONLY%%%]>[###KEYS|html###]</textarea>
			[%%%IF:VIEW-ONLY:!=yes;%%%][%%%IF:LEN-KEYS:>0;%%%]<br><div class="operation_notice" style="display:inline-block; max-width:600px!important;">Important:<div>If you change your private key you may loose all the current encrypted information. Before changing your current private key make sure you make a backup of it.</div></div>[%%%/IF:LEN-KEYS%%%][%%%/IF:VIEW-ONLY%%%]
			[%%%ELSE:SELF-KEYS%%%]
			[%%%IF:LEN-KEYS:>0;%%%]<i title="[###LEN-KEYS|int###]" class="sfi sfi-fa-umbrella" style="color:#778899;"></i>[%%%ELSE:LEN-KEYS%%%]<i title="[###LEN-KEYS|int###]" class="sfi sfi-cancel-circle" style="color:#EEEEEE;"></i>[%%%/IF:LEN-KEYS%%%]
			[%%%/IF:SELF-KEYS%%%]
		</div>
		<div class="ux-control-group">
			<label>Privileges</label>
			<div style="display:inline-block; font-size:0.875rem;">[###PRIV-LIST-HTML###]</div>
		</div>
		[%%%IF:RESTR-LIST-HTML:!=;%%%]
		<div class="ux-control-group">
			<label>Restrictions</label>
			<div style="display:inline-block; font-size:0.875rem;">[###RESTR-LIST-HTML###]</div>
		</div>
		[%%%/IF:RESTR-LIST-HTML%%%]
		<div class="ux-controls">
		[%%%IF:VIEW-ONLY:==yes;%%%]
			<!-- view only buttons -->
			<button type="button" class="ux-button ux-button-spacing" onClick="smartJ$Browser.CloseDelayedModalPopUp(); return false;"> Go Back &nbsp; <i style="color:#555555;" class="sfi sfi-spinner11"></i></button>
			<button type="button" class="ux-button ux-button-primary ux-button-spacing" onClick="self.location = '[###ACTIONS-URL|js|html###]edit-form&id=[###ID|js|html###]'; return false;"> Modify &nbsp; <i class="sfi sfi-pencil2"></i></button>
			[%%%IF:IS-SUPER-ADM:==yes;%%%]
			<button type="button" class="ux-button ux-button-special ux-button-spacing" onClick="self.location = '[###ACTIONS-URL|js|html###]delete-acc&id=[###ID|js|html###]'; return false;"> Delete &nbsp; <i class="sfi sfi-cross"></i></button>
			[%%%ELSE:IS-SUPER-ADM%%%]
			<!-- only super-admins have this priv: delete -->
			[%%%/IF:IS-SUPER-ADM%%%]
		[%%%ELSE:VIEW-ONLY%%%]
			<!-- edit buttons -->
			<button type="button" class="ux-button ux-button-alt ux-button-spacing" onClick="self.location = '[###ACTIONS-URL|js|html###]edit-form&id=[###ID|js|html###]&viewonly=yes'; return false;"> Cancel &nbsp; <i style="color:#555555;" class="sfi sfi-spinner11"></i></button>
			<button type="button" class="ux-button ux-button-highlight ux-button-spacing" onClick="smartJ$Browser.SubmitFormByAjax('edit_form', '[###ACTIONS-URL|js|html###]edit-update', 'yes'); return false;"> Update &nbsp; <i class="sfi sfi-checkmark"></i></button>
		[%%%/IF:VIEW-ONLY%%%]
		</div>
	</form>
</td></tr></table></div></center>