<!-- View: admins-list v.20210421 -->
<link rel="stylesheet" type="text/css" href="lib/js/jquery/pager/simplePagination.css?[###RELEASE-HASH|url|html###]">
<script src="lib/js/jquery/pager/jquery.simplePagination.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jquery/jquery.event.drag.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jquery/jquery.event.drop.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jquery/jquery.simulate.js?[###RELEASE-HASH|url|html###]"></script>
<style>
	.smartGrid_AlignCenter {
		text-align: center;
	}
	.smartGrid_AlignRight {
		text-align: right;
	}
	.smartGrid_Highlight {
		color: #44619D;
		font-weight: bold;
	}
	.smartGrid_Important {
		font-weight: bold;
	}
</style>
<link rel="stylesheet" type="text/css" href="lib/js/jquery/slickgrid/slick.grid.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/js/jquery/slickgrid/slick.grid-fixes.css?[###RELEASE-HASH|url|html###]">
<script src="lib/js/jquery/slickgrid/slick.grid.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jquery/slickgrid/slick.editors.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jquery/slickgrid/smart-grid.js?[###RELEASE-HASH|url|html###]"></script>
<script>
	//--
	var itemURL = '[###ACTIONS-URL|js###]';
	var IdOfGrid = 'AdminsListGrid';
	var TheGrid = new SmartGrid(IdOfGrid, 'infoTotalRows', itemURL+'list', 'auth_admins_list_tbl', 'id', 'ASC', '', 'filtering');
	//--
</script>
<div style="color:#778899; line-height:24px; font-size:24px; font-weight:bold; display:flex; align-items:center;"><a href="admin.php"><img width="48" height="48" src="modules/mod-auth-admins/views/img/globe.svg" style="vertical-align:middle; margin-right:10px; opacity:0.55;"></a> Auth.Admins Management :: <span id="infoTotalRows"># / # @</span></div>
<br>
<form id="filtering" name="filtering" class="ux-form" onSubmit="return false;">
	<span style="display:inline-block;">
		<input type="text" id="filter-id" name="id" placeholder="ID" value="" style="width:175px;">
	</span>
	<button type="button" class="ux-button ux-button-special" onClick="TheGrid.loadGridData(0);">Filter &nbsp; <i class="sfi sfi-search"></i></button>
	<button type="button" class="ux-button ux-button-regular" onClick="TheGrid.resetGrid(); TheGrid.loadGridData(0);">Reset &nbsp; <i class="sfi sfi-history"></i></button>
	<button type="button" class="ux-button ux-button-primary" style="margin-left:50px;" onClick="smartJ$Browser.PopUpLink('[###ACTIONS-URL|js|html###]new-form', 'auth_admins_list_mod'); return false;"> Add new &nbsp; <i class="sfi sfi-user-plus"></i></button>
</form>
<br>
<div id="AdminsListNavPager"></div>
<form class="ux-form"><div id="AdminsListGrid" class="slickgrid-table" style="font-size:10px;width:100%;height:10px;"></div></form>
<script>
$(function() {

	// Column Formatters
	function formatter_Meta(cellNode, row, dataContext, colDef) {
		var id_user = dataContext['id'];
		var email = dataContext['email'];
		var fname = dataContext['name_f'];
		var lname = dataContext['name_l'];
		var active = dataContext['active'];
		$(cellNode).empty().html('').append('<button class="ux-button ux-button-xsmall" onClick="smartJ$Browser.PopUpLink(\'' + smartJ$Utils.escape_js(itemURL + 'edit-form' +'&id=' + smartJ$Utils.escape_url(id_user)) +'\', \'auth_admins_list_mod\'); return false;" title="Edit (Click to Open the Editor)"><i class="sfi sfi-user-check"></i></button>&nbsp;');
	}
	function formatter_Keys(row, cell, value, columnDef, dataContext) {
		if(value > 0) {
			return '<i class="sfi sfi-key" style="color:#FFCC00; cursor:help;" title="Key Size: ' + smartJ$Utils.escape_html(value) + '"></i>';
		}
		return '';
	}
	function formatter_Active(row, cell, value, columnDef, dataContext) {
		if(value == 1) {
			return '<i class="sfi sfi-checkbox-checked" style="color:#6D8813; cursor:pointer;" title="Active (Double-Click to Change)"></i>';
		} else {
			return '<i class="sfi sfi-checkbox-unchecked" style="color:#FF5500; cursor:pointer;" title="Inactive (Double-Click to Change)"></i>';
		}
	}
	function formatter_DateTime(row, cell, value, columnDef, dataContext) {
		value = parseInt(value);
		if(value > 0) {
			var d = new Date(value * 1000);
			value = d.getFullYear() + '-' + ('00' + (d.getMonth() + 1)).slice(-2) + '-' + ('00' + d.getDate()).slice(-2) + ' ' + ('00' + d.getHours()).slice(-2) + ':' + ('00' + d.getMinutes()).slice(-2) + ':' + ('00' + d.getSeconds()).slice(-2);
		} else {
			value = '-';
		}
		return String(value);
	}

	// Column Updaters
	function updateCellData(url_segment_update) {
		smartJ$Browser.SubmitFormByAjax('', '[###ACTIONS-URL|js|html###]edit-cell' + url_segment_update, 'yes', 'TheGrid.loadGridData(TheGrid.getOffset());', 'TheGrid.loadGridData(TheGrid.getOffset());');
	}

	// Grid Data Defs
	var columns = [
		{id:'meta', name:'', sortable:false, width:20, cssClass:'smartGrid_AlignCenter', asyncPostRender:formatter_Meta},
		{id:'keys-length', field:'keys-length', name:'Keys', sortable:false, width:20, cssClass:'smartGrid_AlignCenter', formatter:formatter_Keys},
		{id:'id', field:'id', name:'ID', sortable:true, width:75, cssClass:'smartGrid_Highlight', editor:TextCellSelector},
		{id:'active', field:'active', name:'Active', sortable:true, sortNumeric:true, width:30, cssClass:'smartGrid_AlignCenter', formatter:formatter_Active, editor:CheckboxCellEditor},
		{id:'email', field:'email', name:'Email', sortable:true, width:100, cssClass:'smartGrid_Important', editor:TextCellSelector},
		{id:'name_f', field:'name_f', name:'First name', sortable:true, width:70, editor:TextCellSelector},
		{id:'name_l', field:'name_l', name:'Last name', sortable:true, width:70, editor:TextCellSelector},
		{id:'modif', field:'modif', name:'Modified', sortable:true, sortNumeric:true, width:50, formatter:formatter_DateTime},
		{id:'priv', field:'priv', name:'Privileges', sortable:false, width:125, editor:TextCellSelector}
	];

	//-- Grid Options
	var options = {
		enableAddRow: false,
		enableCellNavigation: true,
		enableColumnReorder: false,
		enableAsyncPostRender: true,
		forceFitColumns: false,
		asyncPostRenderDelay: 15,
		rowHeight: 30,
		editable: true,
		autoEdit: false,
		asyncEditorLoading: false
	};

	// Grid sizing
	var winW = $(window).width();
	var winH = $(window).height();
	$('#' + IdOfGrid).css({ 'width': parseInt(winW - 25), 'height': parseInt(winH - 160) });
	$(window).resize(function() {
		winW = $(window).width();
		winH = $(window).height();
		$('#' + IdOfGrid).css({ 'width': parseInt(winW - 25), 'height': parseInt(winH - 160) });
		TheGrid.grid.resizeCanvas();
		TheGrid.grid.autosizeColumns();
	});

	// Runtime
	TheGrid.initNavPager('AdminsListNavPager');
	TheGrid.initGrid(columns, options);
	TheGrid.grid.onCellChange = function(row, cell, dataContext, columnDef) {
		switch(columnDef.field) {
			case 'active':
				updateCellData('&column=' + smartJ$Utils.escape_url(columnDef.field) + '&value=' + smartJ$Utils.escape_url(dataContext[columnDef.field]) + '&id=' + smartJ$Utils.escape_url(dataContext['id']));
				break;
			default: // invalid
				console.log('WARNING: Table Column is not editable: ' + columnDef.field);
		}
	}
	TheGrid.grid.resizeCanvas();
	TheGrid.grid.autosizeColumns();
	TheGrid.loadGridData(0);

});
//--
</script>
<!-- #END :: View -->