<style>* { font-family: 'IBM Plex Sans', 'Noto Sans', 'Roboto', 'Raleway', 'Exo 2', 'Open Sans', arial, sans-serif; }</style>
<style>
body {
	[@@@SUB-TEMPLATE:styles-body.inc.htm|html@@@]
}
a, a:link, a:visited, a:hover {
	color: #444444 !important;
}
hr {
	height: 1px !important;
	border: none 0 !important;
	border-top: 1px dashed #888888 !important;
}
h1 {
	font-size: 2.125rem !important;
}
h2 {
	font-size: 1.875rem !important;
}
h3 {
	font-size: 1.625rem !important;
}
h4 {
	font-size: 1.375rem !important;
}
h5 {
	font-size: 1.25rem !important;
}
h6 {
	font-size: 1.0625rem !important;
}
h1, h2, h3, h4, h5, h6 {
	display: inline !important;
	font-weight: normal !important;
}

div#message-container {
	background-color: #FFFFFF !important;
	color: #444444 !important;
	min-width: 400px !important;
	max-width: 700px !important;
	min-height: 320px !important;
	border-radius: 7px !important;
	padding: 20px !important;
}
div#message-container .highlight {
	color: #778888 !important;
}
div#message-container div.text {
	text-wrap: unset;
	text-wrap: balance !important;
	word-break: keep-all !important;
	hyphens: none !important;
}
div#message-container div.small {
	font-size: 0.875rem !important;
	font-style: italic !important;
	color: #CDCDCD !important;
	margin-top: 5px;
	margin-bottom: 10px;
}
div#message-container div.code {
	display: inline-block !important;
	border: 1px dashed #EDEDED !important;
	padding: 10px !important;
	margin: 10px !important;
	color: #ED2559 !important;
	font-size: 0.9375rem !important;
}
div#message-container a,
div#message-container a:link,
div#message-container a:visited,
div#message-container a:hover {
	color: #444444 !important;
}
div#message-container hr {
	border-top: 1px dashed #EDEDED !important;
}
div#message-container a.btn {
	display: inline-block !important;
	min-width: 240px !important;
	max-width: 360px !important;
	width: 280px;
	overflow: hidden !important;
	white-space: nowrap !important;
	margin-left: 0 !important;
	margin-top: 0 !important;
	margin-right: 10px !important;
	margin-bottom: 10px !important;
	padding: 8px 16px !important;
	text-align: center !important;
	text-decoration: none !important;
	font-size: 1.125rem !important;
	border-radius: 3px !important;
	cursor: pointer !important;
	z-index: 788 !important;
}
div#message-container a.btn {
	border: 1px solid #2256B1 !important;
	background-color: #3367C2 !important;
	color: #FFFFFF !important;
}
div#message-container a.btn:hover {
	border: 1px solid #1145A0 !important;
	background-color: #2256B1 !important;
	color: #FFFFFF !important;
}
div#message-container img {
	margin: 10px !important;
}
</style>