<!DOCTYPE html>
<!-- r.20250320 (auth:users:email:recovery) -->
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="color-scheme" content="light only"><meta name="supported-color-schemes" content="light only">
<title>[###TITLE|html###]</title>
[@@@SUB-TEMPLATE:styles.inc.htm@@@]
</head>
<body style="[@@@SUB-TEMPLATE:styles-body.inc.htm|html@@@]">
<center>
<div id="message-container">
<div><h2 class="highlight">[###WEBSITE-NAME|html###]</h2></div>
[@@@SUB-TEMPLATE:header.inc.htm@@@]
<br>
<hr>
<h1>[###SUB-TITLE|html###]</h1>
<br>
<br>
<div class="text">[###MAIN|html###]</div>
<div class="text small">[###TXT-HINT|html###]</div>
<br>
<a class="btn" target="_blank" href="[###LNK-SIGNIN|html###]">[###TXT-SIGNIN|html###]</a>
<br>
<h5>[###TXT-CODE|html###]</h5>
<br>
<div class="code">[###THE-CODE|html###]</div>
<br>
<div class="text small">[###TXT-VALID|html###]</div>
<hr>
[@@@SUB-TEMPLATE:footer.inc.htm@@@]
</div>
</center>
</body>
</html>
