<!-- CSS APP (Custom) :: r.20210612 -->
[%%%COMMENT%%%] Hint: css with fonts speedup loading page: replace the attribute 'media="all"' for link tag with: 'media="none" onload="if(media!='all'){media='all';}"' [%%%/COMMENT%%%]
<!-- Font -->
[%%%IF:SEMAPHORE:&*<load:font:serif>;(16)%%%]
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/serif/ibm-plex-serif.css?[###RELEASE-HASH|url|html###]" media="all">
<style type="text/css">* { font-family: 'IBM Plex Serif',times,serif; }</style>
[%%%ELSE:SEMAPHORE(16)%%%]
[%%%IF:SEMAPHORE:&*<load:font:mono>;(17)%%%]
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/mono/ibm-plex-mono.css?[###RELEASE-HASH|url|html###]" media="all">
<style type="text/css">* { font-family: 'IBM Plex Mono',mono; }</style>
[%%%ELSE:SEMAPHORE(17)%%%]
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css?[###RELEASE-HASH|url|html###]" media="all">
<style type="text/css">* { font-family: 'IBM Plex Sans',arial,sans-serif; }</style>
[%%%/IF:SEMAPHORE(17)%%%]
[%%%/IF:SEMAPHORE(16)%%%]
<!-- Custom Styles -->
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles.css?[###RELEASE-HASH|url|html###]">
<!-- App CSS -->
<link rel="stylesheet" type="text/css" href="lib/core/css/app.css?[###RELEASE-HASH|url|html###]">
<!-- # -->