<!-- CSS APP (default) :: r.20250124 -->
[%%%COMMENT%%%] Hint: css with fonts speedup loading page: replace the attribute 'media="all"' for link tag with: 'media="none" onload="if(media!='all'){media='all';}"' [%%%/COMMENT%%%]
<!-- Font -->
[%%%IF:SEMAPHORE:&*<load:font:serif>;(16)%%%]
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/serif/ibm-plex-serif.css?[###RELEASE-HASH|url|html###]" media="all">
<style type="text/css">* { font-family: 'IBM Plex Serif',times,serif; }</style>
[%%%ELSE:SEMAPHORE(16)%%%]
[%%%IF:SEMAPHORE:&*<load:font:mono>;(17)%%%]
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/mono/ibm-plex-mono.css?[###RELEASE-HASH|url|html###]" media="all">
<style type="text/css">* { font-family: 'IBM Plex Mono',mono; }</style>
[%%%ELSE:SEMAPHORE(17)%%%]
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css?[###RELEASE-HASH|url|html###]" media="all">
<style type="text/css">* { font-family: 'IBM Plex Sans',arial,sans-serif; }</style>
[%%%/IF:SEMAPHORE(17)%%%]
[%%%/IF:SEMAPHORE(16)%%%]
<!-- Default Styles -->
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles.css?[###RELEASE-HASH|url|html###]" media="all">
[%%%IF:SEMAPHORE:&*<styles:dark>;(18)%%%]
<!-- Dark Styles -->
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles-dark.css" media="all">
[%%%ELSE:SEMAPHORE(18)%%%]
<!-- No Dark Styles -->
[%%%/IF:SEMAPHORE(18)%%%]
<!-- SF-Icons Css -->
<link rel="stylesheet" type="text/css" href="lib/css/toolkit/sf-icons.css?[###RELEASE-HASH|url|html###]" media="all">
[%%%IF:APP-REALM:==ADM;(87)%%%]
<!-- App UX Css -->
<link rel="stylesheet" type="text/css" href="lib/css/app.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App Core Css -->
<link rel="stylesheet" type="text/css" href="lib/core/css/app.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App Plugins Css -->
<link rel="stylesheet" type="text/css" href="lib/core/plugins/css/app.css?[###RELEASE-HASH|url|html###]" media="all">
[%%%ELSE:APP-REALM(87)%%%]
<!-- App UX Css (pak) -->
<link rel="stylesheet" type="text/css" href="lib/css/app.pak.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App Core Css (pak) -->
<link rel="stylesheet" type="text/css" href="lib/core/css/app.pak.css?[###RELEASE-HASH|url|html###]" media="all">
<!-- App Plugins Css (pak) -->
<link rel="stylesheet" type="text/css" href="lib/core/plugins/css/app.pak.css?[###RELEASE-HASH|url|html###]" media="all">
[%%%/IF:APP-REALM(87)%%%]
<!-- Fix Styles -->
<link rel="stylesheet" type="text/css" href="etc/templates/default/styles-fix.css" media="all">
<!-- # -->