<!-- JS-BASE :: r.20210610 -->
<!-- jQuery --><script src="lib/js/jquery/jquery.js?[###RELEASE-HASH|url|html###]"></script><script>jQuery.ajaxSetup({ timeout: 0, cache: false });</script><script src="lib/js/jquery/jquery.smart.compat.js?[###RELEASE-HASH|url|html###]"></script>
[%%%IF:SEMAPHORE:&*<skip:growl>;%%%]
<!-- Notifications Growl: skip by Semaphore -->
[%%%ELSE:SEMAPHORE%%%]
[%%%IF:SEMAPHORE:&*<load:growl-gritter>;(1)%%%]
<!-- Notifications Growl (gritter) --><link rel="stylesheet" type="text/css" href="lib/js/jquery/growl/jquery.gritter.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/growl/jquery.gritter.js?[###RELEASE-HASH|url|html###]"></script>
[%%%ELSE:SEMAPHORE(1)%%%]
<!-- Notifications Growl (toastr) --><link rel="stylesheet" type="text/css" href="lib/js/jquery/growl/jquery.toastr.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/growl/jquery.toastr.js?[###RELEASE-HASH|url|html###]"></script>
[%%%/IF:SEMAPHORE(1)%%%]
[%%%/IF:SEMAPHORE%%%]
<!-- Notifications Dialog --><link rel="stylesheet" type="text/css" href="lib/js/jquery/jquery.alertable.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/jquery.alertable.js?[###RELEASE-HASH|url|html###]"></script>
[@@@SUB-TEMPLATE:!etc/templates/default/js-framework.inc.htm!@@@]
<!-- Media -->
<script src="lib/js/jquery/jquery.easing.js?[###RELEASE-HASH|url|html###]"></script>
<link rel="stylesheet" type="text/css" href="lib/js/jquery/slimbox/css/slimbox.css?[###RELEASE-HASH|url|html###]">
<script src="lib/js/jquery/slimbox/slimbox.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jquery/slimbox/slimbox_scanner.js?[###RELEASE-HASH|url|html###]"></script>
<!-- Utils -->[%%%IF:APP-REALM:!=IDX;%%%]<script src="lib/js/jquery/jquery.idle.js?[###RELEASE-HASH|url|html###]"></script>[%%%ELSE:APP-REALM%%%]<!-- SKIP Loading / Realm: [###APP-REALM|html###] -->[%%%/IF:APP-REALM%%%]
<!-- # -->