<!-- Js Framework (Custom) :: r.20210612 -->
[@@@SUB-TEMPLATE:!modules/mod-auth-admins/templates/js-check.inc.htm!@@@]
<script>
const smartJ$Options = {
	BrowserTest: {
		isMobile: 'auto', // '[###CLIENT-IS-MOBILE|js###]'
	},
	ModalBox: {
		CssOverlayOpacity: 0.8,
	},
	BrowserUtils: {
		LanguageId: '[###LANG|js###]',
		Charset: '[###CHARSET|js###]',
		CookieLifeTime: [###CLIENT-UID-COOKIE-LIFETIME|int###],
		CookieDomain: '[###CLIENT-UID-COOKIE-DOMAIN|js###]',
		CookieSameSitePolicy: '[###CLIENT-UID-COOKIE-SAMESITE|js###]',
		Notifications: [%%%IF:SEMAPHORE:&*<skip:growl>;(88)%%%]'dialog'[%%%ELSE:SEMAPHORE(88)%%%]'growl'[%%%/IF:SEMAPHORE(88)%%%],
		NotificationDialogType: [%%%IF:SEMAPHORE:&*<dialog:alertable>;(88)%%%]'alertable'[%%%ELSE:SEMAPHORE(88)%%%]'auto'[%%%/IF:SEMAPHORE(88)%%%],
		ModalBoxProtected: [%%%IF:APP-REALM:!=IDX;(87)%%%]true[%%%ELSE:APP-REALM(87)%%%]false[%%%/IF:APP-REALM(87)%%%],
		NotifyLoadError: [%%%IF:APP-REALM:!=IDX;(87)%%%]true[%%%ELSE:APP-REALM(87)%%%]false[%%%/IF:APP-REALM(87)%%%],
		CssOverlayOpacity: 0.8,
	},
};
Object.freeze(smartJ$Options); // sec.
window.smartJ$Options = smartJ$Options; // g-exp.
</script>
<script src="lib/js/framework/smart-framework.pak.js?[###RELEASE-HASH|url|html###]"></script>
[%%%IF:DEBUG-MODE:==yes;%%%]<script>smartJ$Browser.setFlag('DebugEnabled', true);</script><!-- DEBUG IS ON -->[%%%/IF:DEBUG-MODE%%%]
<script>
(() => {
	if(!smartJ$TestBrowser.checkCookies()) {
		alert('NOTICE: Your browser does not support Cookies !');
	} //end if
})();
</script>
<!-- # -->