<!-- HLjs, Smart HLjs :: r.20210503 -->
[%%%IF:SEMAPHORE:&*<load:font:mono>;(77)%%%]
<!-- skip ibm plex mono css, semaphore loaded before -->
[%%%ELSE:SEMAPHORE(77)%%%]
<link rel="stylesheet" href="lib/core/plugins/fonts/typo/mono/ibm-plex-mono.css?[###RELEASE-HASH|url|html###]">
[%%%/IF:SEMAPHORE(77)%%%]
<style>
code.hljs {
	border: 1px solid #ECECEC;
}
code.hljs, code.hljs * {
	font-family: 'IBM Plex Mono',mono;
	font-smooth: always;
}
:not(pre) > code {
	background: #3F3F3F;
	color: #DCDCDC;
	padding-left: 2px;
	padding-right: 2px;
}
</style>
<link rel="stylesheet" href="lib/js/jshighlight/css/[%%%IF:SEMAPHORE:&*<theme:dark>;(78)%%%]zenburn[%%%ELSE:SEMAPHORE(78)%%%]github[%%%/IF:SEMAPHORE(78)%%%].css?[###RELEASE-HASH|url|html###]">
<script src="lib/js/jshighlight/highlight.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jshighlight/syntax/plaintext.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jshighlight/syntax.pak.js?[###RELEASE-HASH|url|html###]"></script>
[%%%IF:SEMAPHORE:&*<load:code-highlight-ext-js>;(78)%%%]
[@@@SUB-TEMPLATE:?!modules/mod-highlight-syntax/libs/templates/tpl-foot-hljs-ext.inc.htm!@@@]
[%%%/IF:SEMAPHORE(78)%%%]
<script src="lib/js/jshighlight/smart-highlight.js?[###RELEASE-HASH|url|html###]"></script>
<script>jQuery(() => { if(typeof(SmartJS_Custom_Syntax_Highlight) == 'function') { SmartJS_Custom_Syntax_Highlight('body'); } });</script>
