<!-- JS-UI / LightJS :: r.20210530 Semaphore: [###SEMAPHORE|smartlist|html###] -->
[%%%IF:SEMAPHORE:&*<skip:js-ui>;%%%]
<!-- LightJS: skip by Semaphore -->
[%%%ELSE:SEMAPHORE%%%]
<!-- UI Dialog --><link rel="stylesheet" type="text/css" href="lib/js/jquery/dialog/simple-dialog.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/dialog/simple-dialog.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI AutoComplete --><link rel="stylesheet" type="text/css" href="lib/js/jquery/autosuggest/smart-suggest.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/autosuggest/smart-suggest.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Tabs --><link rel="stylesheet" href="lib/js/jquery/tabs/jquery.tabs.css?[###RELEASE-HASH|url|html###]" type="text/css"><script src="lib/js/jquery/tabs/jquery.tabs.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Date Picker --><link rel="stylesheet" type="text/css" href="lib/js/jquery/datepicker/css/datepicker.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/datepicker/datepicker.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Time Picker --><link rel="stylesheet" href="lib/js/jquery/timepicker/css/jquery.timepicker.css?[###RELEASE-HASH|url|html###]" type="text/css"><script src="lib/js/jquery/timepicker/jquery.timepicker.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Single and Multi Select List --><link rel="stylesheet" type="text/css" href="lib/js/jquery/listselect/css/chosen.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/listselect/chosen.jquery.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Tables --><link rel="stylesheet" type="text/css" href="lib/js/jquery/datatables/datatables-responsive.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/datatables/datatables-responsive.js?[###RELEASE-HASH|url|html###]"></script><script src="lib/js/jquery/datatables/smart-datatables.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI ToolTip --><link rel="stylesheet" type="text/css" href="lib/js/jquery/jquery.tiptop.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/jquery.tiptop.js?[###RELEASE-HASH|url|html###]"></script>
<!-- UI Framework Bindings --><script src="lib/js/jquery/jquery.smartframework.ui.js?[###RELEASE-HASH|url|html###]"></script>
[%%%/IF:SEMAPHORE%%%]
<!-- # -->