<!-- TPL Foot r.20210610 -->
[%%%IF:SEMAPHORE:&*<load:searchterm-highlight-js>;%%%]
[@@@SUB-TEMPLATE:!etc/templates/default/js-search-term-highlight.inc.htm!@@@]
[%%%ELSE:SEMAPHORE%%%]
<!-- Highlight SearchTerm: skip by Semaphore -->
[%%%/IF:SEMAPHORE%%%]
[%%%IF:SEMAPHORE:&*<load:code-highlight-js>;%%%]
[@@@SUB-TEMPLATE:!etc/templates/default/js-hljs.inc.htm!@@@]
[%%%ELSE:SEMAPHORE%%%]
<!-- HLjs, Smart HLjs: skip by Semaphore -->
[%%%/IF:SEMAPHORE%%%]
[%%%IF:SEMAPHORE:&*<skip:unveil-js>;%%%]
<!-- Unveil: skip by Semaphore -->
[%%%ELSE:SEMAPHORE%%%]
[@@@SUB-TEMPLATE:!etc/templates/default/js-unveil.inc.htm!@@@]
[%%%/IF:SEMAPHORE%%%]
<!-- #.# -->