<!-- Partial Template: Plugins.UIPickerTime r.20220114 -->
<span id="time-area-[###THE-ID|htmid|html###]" title="[###TEXT-SELECT|html###] [HH:ii]">
<input type="text" name="[###THE-VAR|html###]" id="[###THE-ID|htmid|html###]" maxlength="5" value="[###THE-VALUE|html###]" readonly="readonly" class="ux-field datetime_Field_TimePicker" style="[###STYLE-SIZE|html###]" autocomplete="off">
</span>
<script>
jQuery(() => {
	if(typeof(smartJ$UI) != 'undefined') {
		(() => {
			try {
				smartJ$UI.TimePickerInit('[###THE-ID|htmid|js###]', [###H-START|int###], [###H-END|int###], [###MIN-START|int###], [###MIN-END|int###], [###MIN-INTERVAL|int###], [###DISPLAY-ROWS|int###], '[###EVAL-JS|js###]');
				jQuery('#[###THE-ID|htmid|js###]').on('click', (e) => {
					setTimeout(() => { try { smartJ$UI.TimePickerDisplay('[###THE-ID|htmid|js###]'); } catch(err){} }, 100);
				}).on('dblclick doubletap', (e) => {
					jQuery(e.currentTarget).val('');
				});
			} catch(err) {
				console.error('UI TimePicker ERR: ' + err);
			}
		})();
	} else {
		console.warn('UI:Js:TimePicker: No TimePicker widget is available ...');
	}
});
</script>
<!-- #END :: Partial Template: Plugins.UIPickerTime -->