<!-- recovery -->
	<script>
	const authRecoveryRequest = () => {
		const user = smartJ$Utils.stringPureVal(jQuery('input#fld-user').val(), true);
		const url = '?page=auth-users.authorize-api.json&action=recovery' + '&frm[user]=' + smartJ$Utils.escape_url(user);
		smartJ$Browser.SubmitFormByAjax(null, url, 'yes');
	};
	</script>
	<h5><i class="sfi sfi-users sfi-xl"></i> &nbsp; [###TXT-RECOVERY-TITLE|html###]</h5>
	<br>
	<div class="ux-control-group">
		<label><i class="sfi sfi-user sfi-xl"></i></label>
		<input class="ux-field auth" type="text" maxlength="72" autocomplete="off" id="fld-user" placeholder="[###TXT-USERNAME|html###]" title="[###TXT-USERNAME|html###]" required>
	</div>
	<div class="ux-control-group" style="margin-top:10px;">
		<button type="button" onclick="authRecoveryRequest(); return false;" class="ux-button ux-button-highlight ux-button-super recovery" title="[###TXT-BTN-RECOVERY|html###]"><i class="sfi sfi-unlocked"></i> &nbsp; [###TXT-BTN-PASSWORD-RESET|html###]</button>
	</div>
	<hr>
	<br>
	<div class="ux-control-group">
		<a class="ux-button ux-button-primary ux-button-super signin" href="?page=auth-users.signin" title="[###TXT-BTN-SIGNIN|html###]"><i class="sfi sfi-user-check"></i> &nbsp; [###TXT-BTN-SIGNIN-DEFAULT|html###]</a>
	</div>
	<div class="ux-control-group" style="margin-top:-10px;">
		<a class="ux-button ux-button-info ux-button-super signup" href="?page=auth-users.signup" title="[###TXT-BTN-SIGNUP|html###]"><i class="sfi sfi-user-plus"></i> &nbsp; [###TXT-BTN-SIGNUP-DEFAULT|html###]</a>
	</div>
	<div class="ux-control-group" style="margin-top:10px;">
		<a class="ux-button ux-button-dark ux-button-super home" href="[###URL-HOME|html###]"><i class="sfi sfi-home"></i> &nbsp; [###TXT-LNK-HOME-PAGE|html###]</a>
	</div>
<!-- /recovery -->