[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/styles-signup-register.mtpl.inc.htm!@@@]
<div id="signup-container">
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<h2>[###TXT-REG-TITLE|html###]</h2>
		</div>
		<div class="ux-grid-col s12" style="text-align:right; color:#5C88CF;">
			<h3><i>[###WEBSITE-NAME|html###]</i></h3>
		</div>
	</div>
	<hr>
	<div class="ux-grid-row" style="color:#5C88CF;">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-user-check"></i> &nbsp; <h4>[###TXT-REG-ACTIVATE-TTL|html###]</h4>
		</div>
		<div class="ux-grid-col s12">
			<div>[###TXT-REG-ACTIVATE-DESC|html|nl2br###]</div>
		</div>
	</div>
	<hr>
	<br>
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-clipboard" style="color:#ED2559;"></i> &nbsp; <h4>[###TXT-REG-ACTIV-CODE-TTL|html###]</h4>
		</div>
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<div>[###TXT-REG-ACTIV-CODE-DESC|html|nl2br###]</div>
		</div>
	</div>
	<br>
	<div class="ux-grid-row">
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<i class="sfi sfi-xl sfi-envelop"></i> &nbsp; <h5>[###TXT-REG-ACTIV-EMAIL|html###]</h5>
		</div>
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<div>[###TXT-REG-ACTIV-HINT|html|nl2br###]</div>
			<div><i>[###TXT-REG-ACTIV-SECURITY|html|nl2br###]</i></div>
		</div>
	</div>
	<br>
	<hr>
</div>
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/powered-by-unicorn.mtpl.inc.htm!@@@]