<div id="settings-container">
	<div class="ux-grid-row">
		<div class="ux-grid-col s12 m3 l2">
			<b>[###TXT-FULL-NAME|html###]</b>
		</div>
		<div class="ux-grid-col s12 m9 l10">
			[###AUTH-FULL-NAME|html###]
		</div>
	</div>
	<div class="ux-grid-row">
		<div class="ux-grid-col s12 m3 l2">
			<b>[###TXT-DETAILS|html###]</b>
		</div>
		<div class="ux-grid-col s12 m9 l10">
			<pre>[###AUTH-DETAILS|html###]</pre>
		</div>
	</div>
	<hr>
	<br>
	<div style="text-align:center;"><button type="button" class="ux-button ux-button-special ux-button-super"><i class="sfi sfi-user-minus"></i> &nbsp;  Deactivate Your Account</button></div>
</div>
<br>