<script>
const formSend = (id) => {
	id = smartJ$Utils.stringPureVal(id, true);
	if(id == '') {
		console.warn('Form ID is Empty');
		return;
	}
	let fxByAjax = null;
	if(id === 'password') {
		fxByAjax = () => { jQuery('form#frm-' + id).trigger('reset'); };
	}
	smartJ$Browser.SubmitFormByAjax('frm-' + id, '?page=auth-users.settings-api.json', 'yes', fxByAjax);
};
const fa2Disable = () => {
	const id = 'fa2disable';
	const evcode = () => {
		formSend(id);
	};
	smartJ$Browser.ConfirmDialog('<h5>[###TXT-2FA-DISABLE-NOTICE|html|js###]</h5><br><h6>[###TXT-2FA-DISABLE-HINT|html|js###]</h6>', evcode, '[###TXT-2FA-TTL-DISABLE|js###]', null, null, 'alertable', false);
};
const accountMultiSessionsHandle = (mode) => {
	const id = 'msesshandle';
	if(mode !== 2) {
		mode = 1;
	}
	jQuery('input#msess-mode').val(mode);
	formSend(id);
};
const accountDisable = () => {
	const id = 'disableaccnt';
	const evcode = () => {
		const uid = smartJ$Utils.stringPureVal(jQuery('input#accnt-deactivate-uid').val(), true);
		jQuery('input#uid-disableaccnt').val(uid);
		formSend(id);
	};
	smartJ$Browser.ConfirmDialog('<h5>[###TXT-ACC-DEACTIVATE-NOTE|html|js###]</h5><br><h6>[###TXT-ACC-DEACTIVATE-CHECK|html|js###]</h6><input id="accnt-deactivate-uid" type="text" maxlength="28" value="" autocomplete="off" class="ux-field" style="width:100%;">', evcode, '[###TXT-BTN-ACC-DEACTIVATE|js###]', null, null, 'alertable', false);
}
</script>
<script>
jQuery(() => {
	let hashFragment = '[###REDIR-TAB|trim|js###]';
	if(hashFragment == '') {
		hashFragment = smartJ$Utils.stringPureVal(window.location.hash.substring(1), true).toLowerCase();
	}
	switch(hashFragment) {
		case 'account':
		case 'contact':
		case 'password':
		case 'security':
		case 'certs':
			setTimeout(() => { jQuery('#tab-' + hashFragment).prop('checked', true); }, 25);
			break;
	}
	setTimeout(() => { jQuery('#ux-tabs-container').show(); }, 200);
});
</script>
<style>
div#ux-tabs-container {
	display: none;
}
div.ux-tab-content {
	min-width: 720px !important;
	max-width: 786px !important;
}
div.ux-tab-subcontainer {
	width: 100% !important;
}
</style>
<div id="settings-container">
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<div id="ux-tabs-container" class="ux-tab-area dark">
				<input type="radio" id="tab-account" name="css-tabsd" checked>
				<input type="radio" id="tab-contact" name="css-tabsd">
				<input type="radio" id="tab-password" name="css-tabsd">
				<input type="radio" id="tab-security" name="css-tabsd">
				<input type="radio" id="tab-certs" name="css-tabsd">
				<ul class="ux-tabs dark">
					<li class="ux-tab dark"><label for="tab-account"><i class="sfi sfi-fa-cogs"></i> &nbsp; [###TXT-TAB-ACCOUNT|html###]</label></li>
					<li class="ux-tab dark"><label for="tab-contact"><i class="sfi sfi-user-tie"></i> &nbsp; [###TXT-TAB-CINFO|html###]</label></li>
					<li class="ux-tab dark"><label for="tab-password"><i class="sfi sfi-key"></i> &nbsp; [###TXT-TAB-PASSWORD|html###]</label></li>
					<li class="ux-tab dark"><label for="tab-security"><i class="sfi sfi-shield"></i> &nbsp; [###TXT-TAB-SECURITY|html###]</label></li>
					<li class="ux-tab dark"><label for="tab-certs"><i class="sfi sfi-fa-sun"></i> &nbsp; [###TXT-TAB-CERTIFICATES|html###]</label></li>
				</ul>
				<div class="ux-tab-content dark">
					<div class="ux-tab-subcontainer">
						<div class="ux-grid-row">
							<div class="ux-grid-col s12 m3">
								[###TXT-DATE-REGISTER|html###]
							</div>
							<div class="ux-grid-col s12 m9">
								<b>[###AUTH-DATE-REGISTER|html###]</b>
							</div>
						</div>
						<br>
						<hr>
						<br>
						<form id="frm-disableaccnt" class="ux-form" action="#" method="post" onSubmit="return false;">
							<input type="hidden" name="action" value="disable:account">
							<input type="hidden" name="frm[uid]" value="" id="uid-disableaccnt">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
									<button type="button" class="ux-button ux-button-special ux-button-super" onclick="accountDisable(); return false;"><i class="sfi sfi-user-minus"></i> &nbsp; [###TXT-BTN-ACC-DEACTIVATE|html###]</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="ux-tab-content dark">
					<div class="ux-tab-subcontainer">
						<form id="frm-contact" class="ux-form" action="#" method="post" onSubmit="return false;">
							<input type="hidden" name="action" value="update:contact-info">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m3">
									<label>[###TXT-FULL-NAME|html###]</label>
								</div>
								<div class="ux-grid-col s12 m9">
									<input type="text" maxlength="129" autocomplete="off" name="frm[name]" value="[###AUTH-FULL-NAME|html###]" placeholder="[###TXT-FULL-NAME|html###]" class="ux-field ux-field-xl" style="width:280px;" required>
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
									<img align="right" height="64" src="modules/mod-auth-users/views/img/logo-gdpr.svg" style="opacity:0.4; cursor:help;" title="[###TXT-GDPR-COMPLIANT|html###]">
									<br>
									<button type="button" class="ux-button" onclick="formSend('contact'); return false;"><i class="sfi sfi-floppy-disk"></i> &nbsp; [###TXT-BTN-UPD-CINFO|html###]</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="ux-tab-content dark">
					<div class="ux-tab-subcontainer">
						<form id="frm-password" class="ux-form" action="#" method="post" onSubmit="return false;">
							<input type="hidden" name="action" value="update:change-password">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m3">
									<label>[###TXT-NEW-PASS|html###]</label>
								</div>
								<div class="ux-grid-col s12 m9">
									<input type="password" maxlength="128" autocomplete="off" name="frm[pass]" value="" placeholder="[###TXT-NEW-PASS|html###]" class="ux-field ux-field-xl" style="width:280px;" required>
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m3">
									<label>[###TXT-NEW-REPASS|html###]</label>
								</div>
								<div class="ux-grid-col s12 m9">
									<input type="password" maxlength="128" autocomplete="off" name="frm[rpass]" value="" placeholder="[###TXT-NEW-REPASS|html###]" class="ux-field ux-field-xl" style="width:280px;" required>
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m3">
									<label>[###TXT-ALGO-PASS|html###]</label>
								</div>
								<div class="ux-grid-col s12 m9">
									<select name="frm[algo]">
										<option value="123">BCrypt</option>
										<option value="77">PBKDF2</option>
									</select>
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
									<br>
									<button type="button" class="ux-button ux-button-alt" onclick="formSend('password'); return false;"><i class="sfi sfi-floppy-disk"></i> &nbsp; [###TXT-BTN-UPD-PASS|html###]</button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="ux-tab-content dark">
					<div class="ux-tab-subcontainer">
						<form id="frm-msesshandle" class="ux-form" action="#" method="post" onSubmit="return false;">
							<input type="hidden" name="action" value="handle:multisessions">
							<input type="hidden" name="frm[mode]" value="" id="msess-mode">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m6">
									<label>[###TXT-AUTH-MULTISESSIONS|html###]</label>
									<div style="font-size:0.75rem;"><br>
										[###TXT-HINT-MULTISESSIONS|html###]
									</div>
								</div>
								<div class="ux-grid-col s12 m6">
									[%%%IF:AUTH-ALLOW-MULTISESSIONS:==yes;%%%]
									<b><span title="ON">[###AUTH-MULTISESSIONS-ON|html###]</span></b>
									<br>
									<br>
									<button type="button" class="ux-button" onclick="accountMultiSessionsHandle(2); return false;"><i class="sfi sfi-price-tags"></i> &nbsp; [###TXT-BTN-ACC-MSESS-DISABLE|html###]</button>
									[%%%ELSE:AUTH-ALLOW-MULTISESSIONS%%%]
									<b><span title="OFF">[###AUTH-MULTISESSIONS-OFF|html###]</span></b>
									<br>
									<br>
									<button type="button" class="ux-button ux-button-alt" onclick="accountMultiSessionsHandle(1); return false;"><i class="sfi sfi-price-tag"></i> &nbsp; [###TXT-BTN-ACC-MSESS-ENABLE|html###]</button>
									[%%%/IF:AUTH-ALLOW-MULTISESSIONS%%%]
								</div>
							</div>
						</form>
						<br>
						<hr>
						<br>
						<div class="ux-grid-row">
							<div class="ux-grid-col s12 m6">
								<label>[###TXT-2FA|html###]</label>
								<div style="font-size:0.75rem;"><br>
									[###TXT-HINT-2FA|html###]
								</div>
							</div>
							<div class="ux-grid-col s12 m6">
								[%%%IF:AUTH-2FA:==yes;%%%]
								<b><span title="ON">[###TXT-2FA-ENABLED|html###]</span></b>
								<br>
								<br>
								<form id="frm-fa2disable" class="ux-form" action="#" method="post" onSubmit="return false;" autocomplete="off">
									<input type="hidden" name="action" value="2fa:disable">
									<button type="button" class="ux-button ux-button-alt" onclick="fa2Disable(); return false;"><i class="sfi sfi-clock2"></i> &nbsp; [###TXT-2FA-BTN-DISABLE|html###]</button>
								</form>
								[%%%ELSE:AUTH-2FA%%%]
								<b><span title="OFF">[###TXT-2FA-DISABLED|html###]</span></b>
								<br>
								<br>
								<a href="?page=auth-users.settings&mode=2fa" data-smart="open.modal" class="ux-button"><i class="sfi sfi-clock"></i> &nbsp; [###TXT-2FA-BTN-ENABLE|html###]</a>
								[%%%/IF:AUTH-2FA%%%]
							</div>
						</div>
						[%%%IF:AUTH-ARR-PLUGINS:@>0;%%%]
						<br><hr><br>
						<form id="frm-authsso" class="ux-form" action="#" method="post" onSubmit="return false;" autocomplete="off">
							<input type="hidden" name="action" value="update:sso-plugins">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m6">
									<label>[###TXT-AUTH-SSO-PLUGINS|html###]</label>
									<div style="font-size:0.75rem;"><br>
										[###TXT-AUTH-SSO-NOTICE|html###]
									</div>
								</div>
								<div class="ux-grid-col s12 m6">
									[%%%LOOP:AUTH-ARR-PLUGINS%%%]
										<input type="checkbox" name="frm[allowfed][]" value="[###AUTH-ARR-PLUGINS.ID|html###]"[%%%IF:AUTH-ARR-PLUGINS.STATE:==active;%%%] checked[%%%/IF:AUTH-ARR-PLUGINS.STATE%%%]>
										<img height="32" style="margin:10px;" src="data:image/svg+xml,[###AUTH-ARR-PLUGINS.SVG|url|html###]">
										<span style="font-weight:bold;">[###AUTH-ARR-PLUGINS.NAME|html###]</span>
										<br>
									[%%%/LOOP:AUTH-ARR-PLUGINS%%%]
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m6">
									&nbsp;
								</div>
								<div class="ux-grid-col s12 m6">
									<button type="button" class="ux-button ux-button-alt" onclick="formSend('authsso'); return false;"><i class="sfi sfi-floppy-disk"></i> &nbsp; [###TXT-BTN-AUTH-SSO-UPDATE|html###]</button>
								</div>
							</div>
						</form>
						[%%%ELSE:AUTH-ARR-PLUGINS%%%]
							<!-- Auth Plugins: N/A -->
						[%%%/IF:AUTH-ARR-PLUGINS%%%]
					</div>
				</div>
				<div class="ux-tab-content dark">
					<div class="ux-tab-subcontainer">
						<form id="frm-secret" class="ux-form" action="#" method="post" onSubmit="return false;">
							<input type="hidden" name="action" value="secret:generate">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
									<h5 style="display:inline-block;">[###TXT-SSEKEY-TITLE|html###]</h5>&nbsp;&nbsp;<i class="sfi sfi-fa-umbrella sfi-xl" style="cursor:help;[%%%IF:DAT-SSEKEY-LEN:<=0;%%%] color:#778888;[%%%/IF:DAT-SSEKEY-LEN%%%]"[%%%IF:DAT-SSEKEY-LEN:>0;%%%] title="SECRET KEY [Protected]: [###DAT-SSEKEY-LEN|int###] bytes"[%%%/IF:DAT-SSEKEY-LEN%%%]></i>
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
								[%%%IF:DAT-SSEKEY-LEN:>0;%%%]
									<i>[###TXT-AVAILABLE-SSEKEY|html###]</i>
								[%%%ELSE:DAT-SSEKEY-LEN%%%]
									<br>
									<button type="button" class="ux-button" onclick="formSend('secret'); return false;"><i class="sfi sfi-fa-umbrella"></i> &nbsp; [###TXT-BTN-SSEKEY|html###]</button>
								[%%%/IF:DAT-SSEKEY-LEN%%%]
								</div>
							</div>
						</form>
						<br>
						<hr>
						<br>
						<form id="frm-certs" class="ux-form" action="#" method="post" onSubmit="return false;">
							<input type="hidden" name="action" value="certs:generate">
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
									<h5 style="display:inline-block;">[###TXT-DIGICERT-TITLE|html###]: [###DAT-DIGICERT-TYPE|html###]</h5>&nbsp;&nbsp;<i class="sfi sfi-fa-certificate sfi-xl" style="cursor:help; color:[%%%IF:DAT-DIGICERT-INFOCERT:==;%%%]#778888[%%%ELSE:DAT-DIGICERT-INFOCERT%%%][%%%IF:DAT-DIGICERT-EXPIRED:==yes;%%%]#C42C53[%%%ELSE:DAT-DIGICERT-EXPIRED%%%]#82A411[%%%/IF:DAT-DIGICERT-EXPIRED%%%];[%%%/IF:DAT-DIGICERT-INFOCERT%%%]" title="[###DAT-DIGICERT-INFOCERT|html###]"></i>
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m4">
									<label>[###TXT-DIGICERT-CERTIFICATE|html###]</label>
								</div>
								<div class="ux-grid-col s12 m8">
									[%%%IF:DAT-DIGICERT-CERTIFICATE:!=;%%%]
									<i class="sfi sfi-eye" title="[###DAT-DIGICERT-CERTIFICATE|html###]"></i>
									[%%%ELSE:DAT-DIGICERT-CERTIFICATE%%%]
									<i class="sfi sfi-cross"></i>
									[%%%/IF:DAT-DIGICERT-CERTIFICATE%%%]
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m4">
									<label>[###TXT-DIGICERT-PRIVKEY|html###]</label>
								</div>
								<div class="ux-grid-col s12 m8">
									[%%%IF:DAT-DIGICERT-PRIVKEY-LEN:>0;%%%]
									<i class="sfi sfi-eye-blocked" title="PRIVATE KEY [Protected]: [###DAT-DIGICERT-PRIVKEY-LEN|int###] bytes"></i>
									[%%%ELSE:DAT-DIGICERT-PRIVKEY-LEN%%%]
									<i class="sfi sfi-cross"></i>
									[%%%/IF:DAT-DIGICERT-PRIVKEY-LEN%%%]
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m4">
									<label>[###TXT-DIGICERT-PUBKEY|html###]</label>
								</div>
								<div class="ux-grid-col s12 m8">
									[%%%IF:DAT-DIGICERT-PUBKEY:!=;%%%]
									<i class="sfi sfi-eye" title="[###DAT-DIGICERT-PUBKEY|html###]"></i>
									[%%%ELSE:DAT-DIGICERT-PUBKEY%%%]
									<i class="sfi sfi-cross"></i>
									[%%%/IF:DAT-DIGICERT-PUBKEY%%%]
								</div>
							</div>
							<div class="ux-grid-row">
								<div class="ux-grid-col s12 m12">
								[%%%IF:DAT-DIGICERT-INFOCERT:==;%%%]
									[%%%IF:NOT-AVAILABLE-DIGICERT:!=;%%%]
									<i>[###NOT-AVAILABLE-DIGICERT|html###]</i>
									[%%%ELSE:NOT-AVAILABLE-DIGICERT%%%]
									<br>
									<button type="button" class="ux-button" onclick="formSend('certs'); return false;"><i class="sfi sfi-fa-certificate"></i> &nbsp; [###TXT-BTN-CERT-ECDSA|html###]</button>
									[%%%/IF:NOT-AVAILABLE-DIGICERT%%%]
								[%%%ELSE:DAT-DIGICERT-INFOCERT%%%]
									<i>[###TXT-AVAILABLE-DIGICERT|html###]: <b>[###TXT-DIGICERT-EXPIRED|html###]</b></i>
								[%%%/IF:DAT-DIGICERT-INFOCERT%%%]
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<hr>
	<br>
</div>
<br>