[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/styles-signup-register.mtpl.inc.htm!@@@]
<div id="signup-container">
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<h2>[###TXT-REG-TITLE|html###]</h2>
		</div>
		<div class="ux-grid-col s12" style="text-align:right; color:#5C88CF;">
			<h3><i>[###WEBSITE-NAME|html###]</i></h3>
		</div>
	</div>
	<hr>
	<div class="ux-grid-row" style="color:#5C88CF;">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-hammer2"></i> &nbsp; <h4>[###TXT-REG-ACKNOWLEDGE|html###]</h4>
		</div>
		<div class="ux-grid-col s12">
			<div>[###TXT-REG-HEADLINE|html|nl2br###]</div>
		</div>
	</div>
	<hr>
	<br>
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-user-plus" style="color:#ED2559;"></i> &nbsp; <h4>[###TXT-REG-STD-TTL|html###]</h4>
		</div>
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<div>[###TXT-REG-STD-VALID-EMAIL|html|nl2br###]</div>
		</div>
	</div>
[%%%IF:CAPTCHA-HTML:!=;%%%]
	<div class="ux-grid-row">
		<div class="ux-grid-col s12" style="color:#ED2559;">
			<i class="sfi sfi-lg sfi-circle-right"></i> &nbsp; <h6>[###TXT-CAPTCHA-HINT|html###]</h6>
		</div>
		<div class="ux-grid-col s12">
			<div style="display:inline-block;">[###CAPTCHA-HTML###]</div>
		</div>
	</div>
[%%%ELSE:CAPTCHA-HTML%%%]
	<!-- no captcha -->
[%%%/IF:CAPTCHA-HTML%%%]
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-envelop" style="color:#5C88CF;"></i> &nbsp; <h5>[###TXT-REG-STD-EMAIL-MSG|html###]</h5>
		</div>
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<div>[###TXT-REG-STD-ACTIVATE|html|nl2br###]</div>
			<div><i>[###TXT-REG-STD-SECURITY|html|nl2br###]</i></div>
		</div>
	</div>
[%%%IF:AUTH-PLUGINS:@>0;%%%]
	<br>
	<hr>
	<br>
	<div class="ux-grid-row">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-user-plus" style="color:#ED2559;"></i> &nbsp; <h4>[###TXT-REG-SSO-TTL|html###]</h4>
			<br>
			<i class="sfi sfi-xl sfi-power" style="color:#5C88CF;"></i> &nbsp; <h5>[###TXT-REG-SSO-NO-ACTIVATE|html###]</h5>
		</div>
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<div>
				[###TXT-REG-SSO-PROVIDERS|html|nl2br###]
				<!-- auth:plugins -->[%%%LOOP:AUTH-PLUGINS%%%]<!-- auth:plugin `[###AUTH-PLUGINS.ID|html###]` --><span class="idp-name">[###AUTH-PLUGINS.NAME|html###]</span>[%%%IF:AUTH-PLUGINS.-_INDEX_-:<###AUTH-PLUGINS.-_MAXSIZE_-###;%%%], [%%%ELSE:AUTH-PLUGINS.-_INDEX_-%%%].[%%%/IF:AUTH-PLUGINS.-_INDEX_-%%%][%%%/LOOP:AUTH-PLUGINS%%%]<!-- /auth:plugins -->
			</div>
			<div><i>[###TXT-REG-SSO-IDENTITIES|html###]</i></div>
		</div>
	</div>
[%%%ELSE:AUTH-PLUGINS%%%]
	<!-- Auth Plugins: N/A -->
[%%%/IF:AUTH-PLUGINS%%%]
[%%%IF:IS-FA2-AVAILABLE:==1;%%%]
	<br>
	<hr>
	<br>
	<div class="ux-grid-row">
		<div class="ux-grid-col s12"[%%%IF:IS-FA2-REQUIRED:!=1;%%%] style="color:#5C88CF;"[%%%/IF:IS-FA2-REQUIRED%%%]>
			<i class="sfi sfi-xl sfi-clock"></i> &nbsp; <h4>[###TXT-REG-2FA-TTL|html###]</h4>
		</div>
		<div class="ux-grid-col s12" style="color:#5C88CF;">
			<div>[###TXT-REG-2FA-DESC|html|nl2br###]</div>
		</div>
	</div>
[%%%ELSE:IS-FA2-AVAILABLE%%%]
	<!-- no fa2 -->
[%%%/IF:IS-FA2-AVAILABLE%%%]
	<br>
	<hr>
	<br>
	<div class="ux-grid-row" style="color:#5C88CF;">
		<div class="ux-grid-col s12">
			<i class="sfi sfi-xl sfi-shield"></i> &nbsp; <h4>[###TXT-REG-SEC-TTL|html###]</h4>
		</div>
		<div class="ux-grid-col s12">
			<div>[###TXT-REG-SEC-DESC|html|nl2br###]</div>
		</div>
	</div>
	<br>
	<hr>
</div>
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/powered-by-unicorn.mtpl.inc.htm!@@@]