<style>
div.sign-area input.auth {
	width: 240px;
}
div.sign-area button.ux-button,
div.sign-area a.ux-button {
	width: 280px;
}
div.area-aside {
	padding-top:   10px !important;
	padding-left:  50px !important;
	padding-right: 25px !important;
}
div#account-container h1,
div#account-container h2,
div#account-container h3,
div#account-container h4,
div#account-container h5,
div#account-container h6 {
	display: inline !important;
}
@media all and (max-width:767px) {
	div.area-aside {
		padding-top:   20px !important;
		padding-left:  0 !important;
		padding-right: 0 !important;
	}
}
</style>