<style>
div.Smart-Captcha-Area {
	margin-bottom: 0 !important;
}
div.Smart-Captcha-Area div.Smart-Captcha-Container {
	border-color: #5C88CF !important;
	border-style: solid !important;
	border-width: 2px !important;
	border-spacing: 2px !important;
	border-radius: 7px !important;
}

div.sign-area {
	margin-top: 20px;
	text-align: center;
}
div.sign-area a:not(.ux-button) {
	color: #778888 !important;
	cursor: pointer !important;
	text-decoration: none !important;
	border-bottom: dotted 1px #778888 !important;
}
div.sign-area input.auth::placeholder {
	color: #6E86C6;
	opacity: 0.28;
}
div.sign-area input.auth {
	margin-left: 5px;
	margin-bottom: 0;
	margin-right: 0;
	width: 280px;
	padding: 8px;
}
div.sign-area button.ux-button,
div.sign-area a.ux-button {
	width: 320px;
	margin-bottom: 7px !important;
}
div.sign-area button.signin,
div.sign-area a.signin,
div.sign-area a.signup,
div.sign-area button.signup {
	margin-top: 10px !important;
}
div.sign-area button.signin,
div.sign-area a.signin,
div.sign-area a.signup,
div.sign-area button.signup {
	margin-bottom: 20px !important;
}
div.auth-plugins-txt,
div.auth-plugins-btns {
	margin-bottom: 10px;
}
div.auth-plugins-txt {
	font-size: 0.875rem;
}
div.auth-plugins-btns button {
	background: #FFFFFF !important;
	border: 1px solid #EDEDED !important;
	border-radius: 3px !important;
	padding: 3px !important;
	margin-right: 15px !important;
	margin-bottom: 10px !important;
	cursor: pointer;
}
div.auth-plugins-btns button img {
	opacity: 0.88;
	filter: saturate(87%);
}
@media all and (max-width:767px) {
	div.sign-area input.auth {
		margin-left: 10px !important;
	}
}
</style>