<link rel="stylesheet" href="modules/mod-auth-users/views/js/launchpad/launchpad.css">
<script src="modules/mod-auth-users/views/js/launchpad/launchpad.js"></script>
<script>
launchpad.setData([###APPS-JSON|jsonpretty###]);
</script>
<style>
div.ux-sidebar {
	min-height: 100% !important;
	background-color: #323d4f !important;
}
div.ux-sidebar span {
	font-size: 1.125rem !important;
}
</style>
<div class="ux-sidebar" title="[###SIGNED-TITLE|html###] `[###AUTH-USERNAME|html###]`">
	<label><i class="sfi sfi-menu sfi-3x"></i></label><input type="checkbox" title="[###CLICK-EXPAND-ON-OFF|html###]">
	<nav class="ux-sidenav">
		<ul>
			<li style="margin-left:2px;" title="[###MY-APPS|html###] `[###AUTH-USERNAME|html###]`">
				<a href="javascript:javascript:void(0);" onclick="launchpad.toggle(); return false;">
					<i class="sfi sfi-stack sfi-3x" style="color: #FFCC00 !important;"></i> <span>[###MY-APPS|html###]</span>
				</a>
			</li>
			<li>
				<a href="[###URL-PREFIX-LOCAL|html###]?page=auth-users.apps" title="[###MY-DASHBOARD|html###] `[###AUTH-USERNAME|html###]`">
					<i class="sfi sfi-command sfi-3x"></i> <span>[###MY-DASHBOARD|html###]</span>
				</a>
			</li>
			<li>
				<a href="[###URL-PREFIX-MASTER|html###]?page=auth-users.account" title="[###MY-ACCOUNT|html###] `[###AUTH-USERNAME|html###]`">
					<i class="sfi sfi-user sfi-3x"></i> <span>[###MY-ACCOUNT|html###]</span>
				</a>
			</li>
			<li title="[###SIGN-OUT|html###] `[###AUTH-USERNAME|html###]`">
				<a href="[###URL-PREFIX-MASTER|html###]?page=auth-users.signout">
					<i class="sfi sfi-switch sfi-3x" style="color: #C42B52 !important;"></i> <span>[###SIGN-OUT|html###]</span>
				</a>
			</li>
		</ul>
	</nav>
	<img height="64" alt="logo" title="[###WEBSITE-NAME|html###]" src="lib/core/img/app/app.svg" style="cursor:help; margin-left:8px; margin-top:48px; margin-bottom:48px; opacity: 0.88; filter: saturate(87%);">
</div>