[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/styles.mtpl.inc.htm!@@@]
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/styles-account.mtpl.inc.htm!@@@]
<link rel="stylesheet" type="text/css" href="lib/js/jquery/pin-login/jquery.pinlogin.css" media="all">
<script src="lib/js/jquery/pin-login/jquery.pinlogin.js"></script>
<script>
const handleFormAcc2FA = () => {
	smartJ$Browser.ConfirmDialog(
		'<h5 style="color:#FF3300;">[###TXT-2FA-QUESTION|html|js###]</h5><br><h5>[###TXT-2FA-CONFIRM|html|js###]<br><i>[###TXT-2FA-WARN|html|js###]</i></h5>',
		() => {
			smartJ$Browser.SubmitFormByAjax('fa2_confirm_form', '?page=auth-users.settings-api.json', 'yes', () => { smartJ$Browser.RefreshParent(); setTimeout(() => { smartJ$Browser.CloseDelayedModalPopUp(); }, 2000); });
		},
		'[###TXT-2FA-ENABLE|js###]',
		null,
		null,
		'alertable'
	);
};
</script>
<center><div><table><tr><td>
	<form id="fa2_confirm_form" name="fa2_confirm_form" class="ux-form ux-form-aligned" onSubmit="return false;">
		<input type="hidden" name="action" value="2fa:enable">
		<input type="hidden" name="frm[chk]" value="[###2FA-CHK|html###]">
		<input type="hidden" name="frm[key]" value="[###2FA-CODE|html###]">
		<input type="hidden" name="frm[pin]" value="" id="auth-2fa-pin">
		<legend><h1>[###TXT-2FA-ENABLE|html###]</h1></legend><br>
		<div class="operation_info" style="display:inline-block; max-width:600px!important;">[###TXT-IMPORTANT|html###]:<div>[###TXT-2FA-NOTICE|html###]<br><br>[###TXT-2FA-REC-KEY|html###]:<br>`<span style="color:#685A8B;font-weight:bold;">[###2FA-CODE|html###]</span>`.<br><br>[###TXT-2FA-HINT|html###]:<br><span style="color:#ED2839;">FreeOTP App</span> / <span style="color:#ED2839;">Google Authenticator App</span>.</div></div>
		<br><br>
		<div id="app-container">
			<div class="ux-grid-row">
				<div class="ux-grid-col s12 m6 l4">
					<div style="text-align:center;">
						<img src="data:image/svg+xml,[###2FA-BARCODE|url###]" title="[###2FA-URL|html###]">
					</div>
				</div>
				<div class="ux-grid-col s12 m6 l8">
					<br>
					<div style="text-align:center;">
						<h6>[###TXT-2FA-VERIFY-LBL|html###]</h6>
						<span id="fa2-test-input" title="[###TXT-2FA-VERIFY-HNT|html###]"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="ux-controls">
			<button type="button" class="ux-button ux-button-spacing" onClick="smartJ$Browser.CloseDelayedModalPopUp(); return false;"><i style="color:#555555;" class="sfi sfi-spinner11"></i> &nbsp; [###TXT-CANCEL|html###]</button>
			<button type="button" class="ux-button ux-button-highlight ux-button-spacing" onClick="handleFormAcc2FA(); return false;"><i class="sfi sfi-fa-umbrella"></i> &nbsp; [###TXT-2FA-BTN-ENABLE|html###]</button>
		</div>
	</form>
</td></tr></table></div></center>
<script>
(() => {
	jQuery('#fa2-test-input').pinlogin({
		autofocus: false,
		hideinput: true,
		delay: 75,
		fields: 8,
		complete: (digits) => {
			jQuery('input#auth-2fa-pin').val(String(digits || ''));
		},
	});
})();
</script>