[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/styles.mtpl.inc.htm!@@@]
[%%%IF:IS-AUTHENTICATED:==1;%%%]
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/styles-account.mtpl.inc.htm!@@@]
[%%%ELSE:IS-AUTHENTICATED%%%]
<!-- account styles n/a -->
[%%%/IF:IS-AUTHENTICATED%%%]
<div class="sign-area">
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/logo.mtpl.inc.htm!@@@]
[%%%IF:IS-AUTHENTICATED:==1;%%%]
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/signed.mtpl.inc.htm!@@@]
[%%%ELSE:IS-AUTHENTICATED%%%]
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/signin.mtpl.inc.htm!@@@]
[%%%/IF:IS-AUTHENTICATED%%%]
</div>
[@@@SUB-TEMPLATE:!modules/mod-auth-users/views/partials/powered-by.mtpl.inc.htm!@@@]