<!-- Partial Template: Plugins.DrawHTMLEditor r.20230123 -->
<span id="TheSpan__[###TXT-AREA-ID|htmid###]__HTMLArea">
<textarea id="[###TXT-AREA-ID|htmid###]" name="[###TXT-AREA-VAR-NAME|html###]" style="width:[###TXT-AREA-WIDTH|html###];height:[###TXT-AREA-HEIGHT|html###];background:#FFFFF5;color:#000000;border:0px none;" wrap="OFF" onKeyDown="smartJ$Browser.catchKeyTAB(event);">[###TXT-AREA-CONTENT|html|syntaxhtml###]</textarea>
</span>
<script>
var Smart__CLEDITOR__[###TXT-AREA-ID|jsvar###];
jQuery(() => {
	setTimeout(() => { Smart__CLEDITOR__[###TXT-AREA-ID|jsvar###] = Smart_CLEditor_Activate_HTML_AREA('[###TXT-AREA-ID|htmid|js###]', '[###TXT-AREA-WIDTH|js###]', '[###TXT-AREA-HEIGHT|js###]', [###TXT-AREA-ALLOW-SCRIPTS|bool###], [###TXT-AREA-ALLOW-SCRIPT-SRC|bool###], [###CLEANER-REMOVE-TAGS|json###], '[###CLEANER-MODE-TAGS|js###]', '[###TXT-AREA-TOOLBAR|js###]'); }, 100);
});
</script>
<!-- #END :: Partial Template: Plugins.DrawHTMLEditor -->