<!-- Partial Template: Plugins.InitHTMLEditor r.20230123 -->
<!-- CLEditor-jQuery :: START (Language: [###LANG|html###]) -->
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/jquery.htmlcleaner.js"></script>
<link rel="stylesheet" type="text/css" href="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.css">
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.js"></script>
<script>
const CLEditor_SmartFrameworkComponents_EditorStyles = '[###STYLESHEET|js###]';
const CLEditor_SmartFrameworkComponents_fileBrowserCallBackURL = '[###FILE-BROWSER-CALLBACK-URL|js###]';
</script>
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.smartframeworkcomponents-img.js"></script>
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.fullscreen.js"></script>
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.wordcount.js"></script>
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.tableadvanced.js"></script>
<script src="[###HTMED-PREFIX-URL|html###]modules/mod-auth-admins/views/js/html-editor/cleditor/jquery.cleditor.smartframeworkcomponents-utils.js"></script>
<!-- CLEditor-jQuery :: END -->
<!-- #END :: Partial Template: Plugins.InitHTMLEditor -->