<!DOCTYPE html>
<!-- r.20250203 (auth:users:account) -->
<html>
<head>
[@@@SUB-TEMPLATE:!etc/templates/default/tpl-head.inc.htm!@@@]
[@@@SUB-TEMPLATE:styles.inc.htm@@@]
</head>
<body>
[###HEADER###]
<div id="app-container">
	<div class="ux-grid-row">
		<div class="ux-grid-col s12 m4 l3 area-main area-split">
[###MAIN###]
		</div>
		<div class="ux-grid-col s12 m8 l9 area-aside area-split">
[###ASIDE###]
		</div>
	</div>
</div>
[###FOOTER###]
[@@@SUB-TEMPLATE:!etc/templates/default/tpl-foot.inc.htm!@@@]
</body>
</html>
