<!DOCTYPE html>
<!-- v.20231119 -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="data:,">
<title>Google API Samples</title>
<script src="../../../../../lib/js/jquery/jquery.js"></script>
<script src="../../../../../lib/js/framework/smart-framework.pak.js"></script>
<script src="//apis.google.com/js/platform.js"></script>
<script>

function onSignIn() {
	const gAuth = window.auth2.currentUser.get();
	const gProfile = gAuth.getBasicProfile();
	const gResponse = gAuth.getAuthResponse();
	const theEmail = gProfile.getEmail();
//	console.log( "xxxxxxxx # signedin", gResponse, gResponse.access_token, gAuth, gAuth.getId(), theEmail, gProfile.getGivenName(), gProfile.getFamilyName());
	// Useful data for your client-side scripts:
	//var profile = googleUser.getBasicProfile();
	//console.log("Name: " + profile.getName());
//	$('#gg-logout-button').show();

	const validateUrl = 'https://www.googleapis.com/oauth2/v1/userinfo?access_token=' + smartJ$Utils.escape_url(gResponse.access_token || '');
	const ajax = smartJ$Browser.AjaxRequestFromURL('../../../../../index.php?page=js-ext-login.test-login&type=google-api', 'POST', 'json', '&validateUrl=' + smartJ$Utils.escape_url(validateUrl), null, null, null, false, false);
	ajax.done((data, textStatus, jqXHR) => { // instead of .success() (which is deprecated or removed from newest jQuery)
		if((textStatus == 'success') && (jqXHR.status == 202) && data && data.validateData && data.validateUrl && (data.validateUrl === String(validateUrl))) {
			console.log('%c validateUrl: ' + data.validateUrl + ' ', 'background:#778899;color:#FFFFFF;');
			console.log('%c validateData: ' + JSON.stringify(data.validateData) + ' ', 'background:#FFCC00;color:#222222;');
		//	console.log('XHR', JSON.stringify(jqXHR));
			let ldata = { // avoid store accessToken (security !!)
				id: String(data.validateData.id || ''),
				email: String(data.validateData.email || ''),
				name_f: String(data.validateData.given_name || ''),
				name_l: String(data.validateData.family_name || ''),
			};
			ldata = smartJ$Utils.stringPureVal(JSON.stringify(ldata), true);
			console.log('%c Auth Data: ' + ldata + ' ', 'background:#FFFFFF;color:#222222;');
		//	console.log('FbLoginData', FbLoginData);
		//	console.log('response', response);
		//	console.log('authResponse', authResponse);
			$('#gg-login-button').text('(Re)Login with Google');
			$('#gg-logout-button').show();
			$('#gg-login-status').text('You are logged in with Google, as `' + (theEmail || '') + '`');
		} else {
			alert('WARN: Failed to GET validateUrl.\nStatus Code: ' + jqXHR.status + ' ' + jqXHR.statusText);
			console.error('validateUrl', validateUrl, JSON.stringify(jqXHR));
		} //end if else
	}).fail((jqXHR, textStatus, errorThrown) => { // instead of .error() (which is deprecated or removed from newest jQuery)
		alert('ERR: Failed to GET validateUrl.\nStatus Code: ' + jqXHR.status + ' ' + jqXHR.statusText);
		console.error('validateUrl', validateUrl, JSON.stringify(jqXHR));
	});


};

const ggAuthInit = () => {

	const theRequestParams = smartJ$Browser.parseCurrentUrlGetParams(); // expects: sample-google-login.html?appId=...
	const ggApiId = smartJ$Utils.stringPureVal(theRequestParams.appId || '', true);
	if(ggApiId == '') {
		$('#gg-login-status').html('<span color="#FF3300;">' + 'The URL param `appId` is missing' + '</span>');
		alert('WARNING; The URL param `appId` must be set ...');
		return;
	} //end if

	window.gapi.load('client:auth2', function() {
		auth2 = window.gapi.auth2.init({
			client_id: String(ggApiId || ''),
			cookie_policy: 'none', // 'single_host_origin' or 'none'
			fetch_basic_profile: true,
			scope: 'https://www.googleapis.com/auth/userinfo.email',
			ux_mode: 'popup',
			plugin_name:'sample_auth',
		}).then(function(auth2) {
			window.auth2 = auth2;
			const gAuth = window.auth2.currentUser.get();
			console.log( "signed in:", auth2.isSignedIn.get()); //, gAuth.getAuthResponse(), gAuth.getId(), gProfile.getEmail(), gProfile.getGivenName(), gProfile.getFamilyName());
			if(auth2.isSignedIn.get() === true) {
				onSignIn();
			} else {
				auth2.isSignedIn.listen(onSignIn);
			}
			let button = document.querySelector('#gg-login-button');
			button.addEventListener('click', function() {
				auth2.signIn();
			});
		});
	});

};
ggAuthInit();
</script>
<style>
.redButton {
	text-align:center;
	padding:4px;
	cursor:pointer;
	width:150px;
	color:#FFFFFF;
	background-color:#a50e0e;
	margin:5px;
	display:inline-block;
}
</style>
</head>
<body>
<h1 id="gg-login-status">... checking login status ...</h1>
<div id="gg-login-button" class="redButton">Login with Google</div>
<div id="gg-logout-button" class="redButton" style="display:none" onclick="window.auth2.signOut().then(function(){ window.auth2.disconnect(); setTimeout(() => { self.location=self.location; }, 500); });">Logout with Google</div>
<script>
/*
const signInCallback = (response) => {
// window.gapi.auth2.getAuthInstance().currentUser.get().getAuthResponse().id_token
	console.log(response);
	const gAuth = window.gapi.auth2.getAuthInstance();
	const gUser = gAuth.currentUser.get();
	console.log(gAuth.isSignedIn.get());
	console.log(gUser.getId(), gUser);

//	window.gapi.client.load('oauth2', 'v2', function () {
//		window.gapi.client.oauth2.userinfo.get().execute(function (resp) {
//			console.log(resp.email);
//		})
//	});

//	console.log(window.auth2.getAuthInstance().currentUser.get().getAuthResponse().access_token);
}

$('#signinButton').click(function() {
    // signInCallback defined in step 6.
//	const iframeElem = document.getElementById('ssIFrame_google');
//	if(iframeElem) {
//		iframeElem.remove();
//	}
    auth2.grantOfflineAccess({
			prompt: 'select_account consent',
			scope: 'profile email',
	}).then(signInCallback);
  });
*/
</script>

<br>
<script>
/*
jQuery(function() {

//	const theRequestParams = smartJ$Browser.parseCurrentUrlGetParams(); // expects: sample-google-login.html?appId=...
//	const ggApiId = smartJ$Utils.stringPureVal(theRequestParams.appId || '', true);
	const ggApiId = '402631212460-fpmifk8bldghqqg596dq779iovvcr38k.apps.googleusercontent.com';
	if(ggApiId == '') {
		$('#gg-login-status').html('<span color="#FF3300;">' + 'The URL param `appId` is missing' + '</span>');
		alert('WARNING; The URL param `appId` must be set ...');
		return;
	} //end if


	const GgLoginButton = () => {

	};

	const GgLogoutButton = () => {

	};

	$('#gg-login-button').on('click',  () => { GgLoginButton(); });
	$('#gg-logout-button').on('click', () => { GgLogoutButton(); });

});
*/
</script>
</body>
</html>