<!DOCTYPE html>
<!-- v.20231119 -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="icon" href="data:,">
<title>Facebook API Samples</title>
<script src="../../../../../lib/js/jquery/jquery.js"></script>
<script src="../../../../../lib/js/framework/smart-framework.pak.js"></script>
<script src="../facebook-api.js"></script>
<style>
	.blueButton {
		text-align:center;
		padding:4px;
		cursor:pointer;
		width:150px;
		color:#FFFFFF;
		background-color:#637BAD;
		margin:5px;
		display:inline-block;
	}
</style>
</head>
<body>
<div id="fb-root"></div>
<h1 id="fb-login-status">... checking login status ...</h1>
<div id="fb-login-button" class="blueButton">Login with Facebook</div>
<div id="fb-logout-button" class="blueButton" style="display:none">Logout with Facebook</div>
<br>
<script>
jQuery(function() {

	const theRequestParams = smartJ$Browser.parseCurrentUrlGetParams(); // expects: sample-facebook-login.html?appId=...
	const fbApiId = smartJ$Utils.stringPureVal(theRequestParams.appId || '', true);
	if(fbApiId == '') {
		$('#fb-login-status').html('<span color="#FF3300;">' + 'The URL param `appId` is missing' + '</span>');
		alert('WARNING; The URL param `appId` must be set ...');
		return;
	} //end if

	const FxResponseLogout = function(response) {
		console.log(response);
		alert('You have been logout from facebook ...');
		setTimeout(() => { self.location = self.location; }, 500);
	};

	const FxResponseOk = function(authResponse, response, FbLoginData) {
		let validateUrl = String(FbLoginData.validateUrl || '');
		if(!validateUrl) {
			console.warn('validateUrl is missing ...');
			return;
		} //end if
		const ajax = smartJ$Browser.AjaxRequestFromURL('../../../../../index.php?page=js-ext-login.test-login&type=facebook-api', 'POST', 'json', '&validateUrl=' + smartJ$Utils.escape_url(validateUrl), null, null, null, false, false);
		ajax.done((data, textStatus, jqXHR) => { // instead of .success() (which is deprecated or removed from newest jQuery)
			if((textStatus == 'success') && (jqXHR.status == 202) && data && data.validateData && data.validateUrl && (data.validateUrl === String(validateUrl))) {
				console.log('%c validateUrl: ' + data.validateUrl + ' ', 'background:#778899;color:#FFFFFF;');
				console.log('%c validateData: ' + JSON.stringify(data.validateData) + ' ', 'background:#FFCC00;color:#222222;');
			//	console.log('XHR', JSON.stringify(jqXHR));
				let ldata = { // avoid store accessToken (security !!)
					id: String(FbLoginData.id || ''),
					email: String(FbLoginData.email || ''),
					name_f: String(FbLoginData.name_f || ''),
					name_l: String(FbLoginData.name_l || ''),
				};
				ldata = smartJ$Utils.stringPureVal(JSON.stringify(ldata), true);
				console.log('%c Auth Data: ' + ldata + ' ', 'background:#FFFFFF;color:#222222;');
			//	console.log('FbLoginData', FbLoginData);
			//	console.log('response', response);
			//	console.log('authResponse', authResponse);
				$('#fb-login-button').text('(Re)Login with Facebook');
				$('#fb-logout-button').show();
				$('#fb-login-status').text('You are logged in with Facebook, as `' + (FbLoginData.email || '') + '`');
			} else {
				alert('WARN: Failed to GET validateUrl.\nStatus Code: ' + jqXHR.status + ' ' + jqXHR.statusText);
				console.error('validateUrl', validateUrl, JSON.stringify(jqXHR));
			} //end if else
		}).fail((jqXHR, textStatus, errorThrown) => { // instead of .error() (which is deprecated or removed from newest jQuery)
			alert('ERR: Failed to GET validateUrl.\nStatus Code: ' + jqXHR.status + ' ' + jqXHR.statusText);
			console.error('validateUrl', validateUrl, JSON.stringify(jqXHR));
		});
	};

	const FxResponseNotOk = function(authResponse, response) {
		$('#fb-login-button').show();
		$('#fb-logout-button').hide();
		$('#fb-login-status').text('You are not logged in with Facebook');
	};

	const FxResponseUnauth = function(authResponse) {
		$('#fb-login-button').show();
		$('#fb-logout-button').hide();
		$('#fb-login-status').html('<span color="#FF3300;">' + 'FB Init: NOT Auth ! Please authorize the App' + '</span>');
	};

	const FxSubscribe = function(response) {
		self.location = self.location;
	};

	FacebookLoginHandler.init(
		{ // settings
			appId: String(fbApiId || ''),
			lang: 'en_US',
			domain: 'localhost',
		},
		FxSubscribe, // subscribe
		FxResponseOk, // OK
		FxResponseNotOk, // Not OK
		FxResponseUnauth // Not Auth
	);

	const FbLoginButton = () => {
		FacebookLoginHandler.login(FxResponseOk, FxResponseNotOk, FxResponseUnauth);
	};

	const FbLogoutButton = () => {
		FacebookLoginHandler.logout(FxResponseLogout);
	};

	$('#fb-login-button').on('click',  () => { FbLoginButton(); });
	$('#fb-logout-button').on('click', () => { FbLogoutButton(); });

});
</script>
</body>
</html>