<!-- Prism, SmartMathLatex.Div :: r.20220903 -->
<link rel="stylesheet" href="lib/js/jsmathquill/mathquill/fonts.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" href="lib/js/jsmathquill/mathquill/mathquill.css?[###RELEASE-HASH|url|html###]">
<script src="lib/js/jsmathquill/mathquill/mathquill.js?[###RELEASE-HASH|url|html###]"></script>
<script src="lib/js/jsmathquill/smart-mathquill.js?[###RELEASE-HASH|url|html###]"></script>
<script>jQuery(() => { if((typeof(SmartViewHelpersMathLatexHide) != 'undefined') && (typeof(SmartJS_Custom_Math_Latex_Render) == 'function')) { SmartJS_Custom_Math_Latex_Render('body'); } });</script>
<!-- # -->