<!-- Meta -->
[%%%IF:HEAD-META:==;%%%]
<!-- no head meta -->
[%%%ELSE:HEAD-META%%%]
[###HEAD-META###]
[%%%/IF:HEAD-META%%%]
<!-- Base Styles -->
<link rel="stylesheet" type="text/css" href="lib/core/plugins/fonts/typo/sans/ibm-plex-sans.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/css/toolkit/sf-icons.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/css/toolkit/ux-toolkit.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/core/css/notifications.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/core/css/notifications-icons.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/core/css/tpl-highlight.css?[###RELEASE-HASH|url|html###]">
<link rel="stylesheet" type="text/css" href="lib/core/plugins/css/markdown.css?[###RELEASE-HASH|url|html###]">
[@@@SUB-TEMPLATE:!lib/core/templates/base-html-styles.inc.htm!@@@]
<!-- CSS -->
[%%%IF:HEAD-CSS:==;%%%]
<!-- no head css -->
[%%%ELSE:HEAD-CSS%%%]
[###HEAD-CSS###]
[%%%/IF:HEAD-CSS%%%]
<!-- Scripts -->
<!-- jQuery --><script src="lib/js/jquery/jquery.js?[###RELEASE-HASH|url|html###]"></script><script>jQuery.ajaxSetup({ timeout: 0, cache: false });</script><script src="lib/js/jquery/jquery.smart.compat.js?[###RELEASE-HASH|url|html###]"></script>
<!-- Notifications Growl (toastr) --><link rel="stylesheet" type="text/css" href="lib/js/jquery/growl/jquery.toastr.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/growl/jquery.toastr.js?[###RELEASE-HASH|url|html###]"></script>
<!-- Notifications Dialog --><link rel="stylesheet" type="text/css" href="lib/js/jquery/jquery.alertable.css?[###RELEASE-HASH|url|html###]"><script src="lib/js/jquery/jquery.alertable.js?[###RELEASE-HASH|url|html###]"></script>
<!-- Js Framework -->
<script>
const smartJ$Options = {
	BrowserUtils: {
		LanguageId: '[###LANG|js###]',
		Charset: '[###CHARSET|js###]',
		CookieLifeTime: [###CLIENT-UID-COOKIE-LIFETIME|int###],
		CookieDomain: '[###CLIENT-UID-COOKIE-DOMAIN|js###]',
		CookieSameSitePolicy: '[###CLIENT-UID-COOKIE-SAMESITE|js###]',
		Notifications: 'growl',
		NotificationDialogType: 'alertable',
		ModalBoxProtected: true,
		NotifyLoadError: true,
	}
};
Object.freeze(smartJ$Options); // sec.
window.smartJ$Options = smartJ$Options; // g-exp.
</script>
<script src="lib/js/framework/smart-framework.pak.js?[###RELEASE-HASH|url|html###]"></script>
<!-- JS -->
[%%%IF:HEAD-JS:==;%%%]
<!-- no head js -->
[%%%ELSE:HEAD-JS%%%]
[###HEAD-JS###]
[%%%/IF:HEAD-JS%%%]
<!-- # -->